<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

    <%- include("./partials/header") -%>

    <%- include("./partials/navBar") -%>

    <%- include("./partials/scrollToTop") -%>

    <%- include("./partials/pageTitle") -%>

    <div class="goodAddress chinois">
        <h2 class="name">La cantine chinoise</h2>
        <p class="speciality"><i>Restaurant chinois</i></p>
        <span class="address">
            <a
                href="https://www.google.com/maps/place/WENZHOU+La+Cantine+Chinoise%F0%9F%A5%A2%E6%B8%A9%E5%B7%9E%E7%BE%8E%E9%A3%9F%E6%9E%97/@48.8724576,2.3766833,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66de625495555:0x425787f6af64680a!8m2!3d48.8724576!4d2.378872">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
                16 Rue de Belleville, 75020 Paris
            </a>
        </span>
        <span class="phoneNumber">
            <a href="tel:+33147977001">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
                01 47 97 70 01
            </a>
        </span>
        <div class="website">
            <a href="https://www.lacantinechinoise.fr/?lang=fr">
                <img class="site"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
            </a>
            <a href="https://www.facebook.com/Lacantinechinoiseparis/">
                <img class="facebook"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
            </a>
            <a href="https://www.instagram.com/lacantinechinoise/">
                <img class="instagram"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
            </a>
        </div>
        <ul class="picturesAndLegends">
            <li class="picture">
                <img
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise1_fyvu2a.jpg" /><i
                    class="legend">Enoki à l'ail</i>
            </li>
            <li class="picture">
                <img
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise2_t4dmri.jpg" /><i
                    class="legend">Samoussas</i>
            </li>
            <li class="picture">
                <img
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise3_bnmyw8.jpg" /><i
                    class="legend">Aubergines</i>
            </li>
            <li class="picture">
                <img
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise4_hmhgzv.jpg" /><i
                    class="legend">Jipai<br />Zhuchang</i>
            </li>
        </ul>
    </div>

    <div class="goodAddress chinois">
        <h2 class="name">T’Xuan 糖轩</h2>
        <p class="speciality"><i>Salon de thé chinois</i></p>
        <span class="address">
            <a
                href="https://www.google.com/maps/place/T%E2%80%99Xuan%E7%B3%96%E8%BD%A9/@48.8752641,2.3399919,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e3f71c5ffd5:0xec454ed98cb1a456!8m2!3d48.8752641!4d2.3421806">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
                56 Rue la Fayette, 75009 Paris
            </a>
        </span>
        <span class="phoneNumber">
            <a href="tel:+33608026072">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
                06 08 02 60 72
            </a>
        </span>
        <div class="website">
            <a href="https://txuanparis.com/">
                <img class="site"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
            </a>
            <a href="https://www.instagram.com/explore/locations/1014306690/tangxuan/">
                <img class="instagram"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
            </a>
        </div>
        <ul class="picturesAndLegends">
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652851/txuan_npvi0f.jpg" /><i
                    class="legend">Coussin de crêpe au durian<br />Mille-feuille de crêpe au litchi<br />Panna
                    cotta au matcha</i>
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>