<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

    <%- include("./partials/header") -%>

    <%- include("./partials/navBar") -%>

    <%- include("./partials/scrollToTop") -%>

    <%- include("./partials/pageTitle") -%>

    <div class="goodAddress francoJaponais">
        <h2 class="name">Tomo</h2>
        <p class="speciality"><i>Salon de thé franco-japonais</i></p>
        <span class="address">
            <a
                href="https://www.google.com/maps/place/Tomo/@48.8676336,2.3346615,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e3adfbb65db:0xb689df43c1de4766!8m2!3d48.8676336!4d2.3368502">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
                11 Rue Chabanais, 75002 Paris
            </a>
        </span>
        <div class="website">
            <a href="https://patisserietomo.fr/">
                <img class="site"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
            </a>
            <a href="https://www.facebook.com/patisserietomo/?fref=ts">
                <img class="facebook"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
            </a>
            <a href="https://www.instagram.com/patisserietomo/">
                <img class="instagram"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
            </a>
        </div>
        <ul class="picturesAndLegends">
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/tomo1_y8hhmz.jpg" /><i
                    class="legend">Baba
                    au whisky japonais<br />Chocolat chaud Houjicha<br />Chocolat
                    chaud Soba<br />Matcha daifuku</i>
            </li>
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652851/tomo2_ixcbay.jpg" /><i
                    class="legend">Dorayaki classique à la fleur de sel de Wajima</i>
            </li>
        </ul>
    </div>

</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>