<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

    <%- include("./partials/header") -%>

    <%- include("./partials/navBar") -%>

    <%- include("./partials/scrollToTop") -%>

    <%- include("./partials/pageTitle") -%>

    <div class="goodAddress francais">
        <h2 class="name">Moulin de Chessy</h2>
        <p class="speciality"><i>Boulangerie & Pâtisserie</i></p>
        <span class="address">
            <a
                href="https://www.google.com/maps/place/Moulin+de+Chessy/@48.8579565,2.7692794,17z/data=!4m5!3m4!1s0x47e61d0074e63ee1:0xd3dc4626ebe5ef17!8m2!3d48.8579022!4d2.7714374">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
                19 Rue d'Ariane, 77700 Chessy
            </a>
        </span>
        <span class="phoneNumber">
            <a href="tel:+33954061259">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
                09 54 06 12 59
            </a>
        </span>
        <div class="website">
            <a href="https://www.moulindechessy.fr/">
                <img class="site"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
            </a>
            <a href="https://www.facebook.com/Moulin-De-Chessy-102856784408457/">
                <img class="facebook"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
            </a>
            <a href="https://www.instagram.com/moulindechessy/?hl=fr">
                <img class="instagram"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
            </a>
        </div>
        <ul class="picturesAndLegends">
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607192145/moulindechessy_butaeo.jpg" />
                <i class="legend">Le Café Gourmand<br>Rubis<br>Douceur des îles<br>Fleur de Sel<br>Le Péché d'Adam</i>
            </li>
        </ul>
    </div>

</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>