<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

  <%- include("./partials/header") -%>

  <%- include("./partials/navBar") -%>

  <%- include("./partials/scrollToTop") -%>

  <%- include("./partials/pageTitle") -%>

  <div class="goodAddress peruvien">
    <h2 class="name">El Picaflor</h2>
    <p class="speciality"><i>Restaurant péruvien</i></p>
    <span class="address">
      <a
        href="https://www.google.com/maps/place/El+Picaflor/@48.843643,2.3512683,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671efcbe9059d:0x3537bd09ae98a7f5!8m2!3d48.843643!4d2.353457">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
        9 Rue Lacépède, 75005 Paris
      </a>
    </span>
    <span class="phoneNumber">
      <a href="tel:+33143310601">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
        01 43 31 06 01
      </a>
    </span>
    <div class="website">
      <a href="https://www.picaflor.fr/">
        <img class="site"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
      </a>
      <a href="https://www.facebook.com/Picaflor75005">
        <img class="facebook"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
      </a>
      <a href="https://www.instagram.com/restaurantelpicaflor/">
        <img class="instagram"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
      </a>
    </div>
    <ul class="picturesAndLegends">
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/elpicaflor1_osdk3k.jpg" />
        <i class="legend">Aji de gallina, Seco de cordero, Ceviche de pato<br />Ceviche
          clasico, Ceviche nikkei, Tiradito clasico</i>
      </li>
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/elpicaflor2_pqlmpq.jpg" />
        <i class="legend">Anticuchos</i>
      </li>
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/elpicaflor3_r69mys.jpg" />
        <i class="legend">Pulpo a la parrilla</i>
      </li>
    </ul>
  </div>

  <div class="goodAddress chinois">
    <h2 class="name">La cantine chinoise</h2>
    <p class="speciality"><i>Restaurant chinois</i></p>
    <span class="address">
      <a
        href="https://www.google.com/maps/place/WENZHOU+La+Cantine+Chinoise%F0%9F%A5%A2%E6%B8%A9%E5%B7%9E%E7%BE%8E%E9%A3%9F%E6%9E%97/@48.8724576,2.3766833,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66de625495555:0x425787f6af64680a!8m2!3d48.8724576!4d2.378872">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
        16 Rue de Belleville, 75020 Paris
      </a>
    </span>
    <span class="phoneNumber">
      <a href="tel:+33147977001">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
        01 47 97 70 01
      </a>
    </span>
    <div class="website">
      <a href="https://www.lacantinechinoise.fr/?lang=fr">
        <img class="site"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
      </a>
      <a href="https://www.facebook.com/Lacantinechinoiseparis/">
        <img class="facebook"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
      </a>
      <a href="https://www.instagram.com/lacantinechinoise/">
        <img class="instagram"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
      </a>
    </div>
    <ul class="picturesAndLegends">
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise1_fyvu2a.jpg" /><i
          class="legend">Enoki à l'ail</i>
      </li>
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise2_t4dmri.jpg" /><i
          class="legend">Samoussas</i>
      </li>
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise3_bnmyw8.jpg" /><i
          class="legend">Aubergines</i>
      </li>
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/lacantinechinoise4_hmhgzv.jpg" /><i
          class="legend">Jipai<br />Zhuchang</i>
      </li>
    </ul>
  </div>

  <div class="goodAddress francais">
    <h2 class="name">Moulin de Chessy</h2>
    <p class="speciality"><i>Boulangerie & Pâtisserie</i></p>
    <span class="address">
      <a
        href="https://www.google.com/maps/place/Moulin+de+Chessy/@48.8579565,2.7692794,17z/data=!4m5!3m4!1s0x47e61d0074e63ee1:0xd3dc4626ebe5ef17!8m2!3d48.8579022!4d2.7714374">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
        19 Rue d'Ariane, 77700 Chessy
      </a>
    </span>
    <span class="phoneNumber">
      <a href="tel:+33954061259">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
        09 54 06 12 59
      </a>
    </span>
    <div class="website">
      <a href="https://www.moulindechessy.fr/">
        <img class="site"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
      </a>
      <a href="https://www.facebook.com/Moulin-De-Chessy-102856784408457/">
        <img class="facebook"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
      </a>
      <a href="https://www.instagram.com/moulindechessy/?hl=fr">
        <img class="instagram"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
      </a>
    </div>
    <ul class="picturesAndLegends">
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607192145/moulindechessy_butaeo.jpg" />
        <i class="legend">Le Café Gourmand<br>Rubis<br>Douceur des îles<br>Fleur de Sel<br>Le Péché d'Adam</i>
      </li>
    </ul>
  </div>

  <div class="goodAddress japonais">
    <h2 class="name">Sanukiya</h2>
    <p class="speciality"><i>Restaurant japonais</i></p>
    <span class="address">
      <a
        href="https://www.google.com/maps/place/Sanukiya/@48.8644734,2.3338605,19.67z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNDjCsDUxJzUzLjEiTiAywrAyMCcwMi41IkU!3b1!8m2!3d48.8647556!4d2.3340333!3m4!1s0x0:0x788e359dee972d2!8m2!3d48.864718!4d2.333787">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
        9 Rue d'Argenteuil, 75001 Paris
      </a>
    </span>
    <span class="phoneNumber">
      <a href="tel:+33142605261">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
        01 42 60 52 61
      </a>
    </span>
    <div class="website">
      <a href="https://www.facebook.com/sanukiyaparis">
        <img class="facebook"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
      </a>
    </div>
    <ul class="picturesAndLegends">
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607175267/sanukiya_bshger.jpg">
        <i class="legend">Curry udon<br />Kamo udon</i>
      </li>
    </ul>
  </div>

  <div class="goodAddress francoJaponais">
    <h2 class="name">Tomo</h2>
    <p class="speciality"><i>Salon de thé franco-japonais</i></p>
    <span class="address">
      <a
        href="https://www.google.com/maps/place/Tomo/@48.8676336,2.3346615,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e3adfbb65db:0xb689df43c1de4766!8m2!3d48.8676336!4d2.3368502">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
        11 Rue Chabanais, 75002 Paris
      </a>
    </span>
    <div class="website">
      <a href="https://patisserietomo.fr/">
        <img class="site"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
      </a>
      <a href="https://www.facebook.com/patisserietomo/?fref=ts">
        <img class="facebook"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
      </a>
      <a href="https://www.instagram.com/patisserietomo/">
        <img class="instagram"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
      </a>
    </div>
    <ul class="picturesAndLegends">
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652850/tomo1_y8hhmz.jpg" /><i
          class="legend">Baba
          au whisky japonais<br />Chocolat chaud Houjicha<br />Chocolat
          chaud Soba<br />Matcha daifuku</i>
      </li>
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652851/tomo2_ixcbay.jpg" /><i
          class="legend">Dorayaki classique à la fleur de sel de Wajima</i>
      </li>
    </ul>
  </div>

  <div class="goodAddress chinois">
    <h2 class="name">T’Xuan 糖轩</h2>
    <p class="speciality"><i>Salon de thé chinois</i></p>
    <span class="address">
      <a
        href="https://www.google.com/maps/place/T%E2%80%99Xuan%E7%B3%96%E8%BD%A9/@48.8752641,2.3399919,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e3f71c5ffd5:0xec454ed98cb1a456!8m2!3d48.8752641!4d2.3421806">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
        56 Rue la Fayette, 75009 Paris
      </a>
    </span>
    <span class="phoneNumber">
      <a href="tel:+33608026072">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
        06 08 02 60 72
      </a>
    </span>
    <div class="website">
      <a href="https://txuanparis.com/">
        <img class="site"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
      </a>
      <a href="https://www.instagram.com/explore/locations/1014306690/tangxuan/">
        <img class="instagram"
          src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
      </a>
    </div>
    <ul class="picturesAndLegends">
      <li class="picture">
        <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652851/txuan_npvi0f.jpg" /><i
          class="legend">Coussin de crêpe au durian<br />Mille-feuille de crêpe au litchi<br />Panna
          cotta au matcha</i>
      </li>
    </ul>
  </div>
</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>