<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

    <%- include("./partials/header") -%>

    <%- include("./partials/navBar") -%>

    <%- include("./partials/scrollToTop") -%>

    <%- include("./partials/pageTitle") -%>

</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>