<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

    <%- include("./partials/header") -%>

    <%- include("./partials/navBar") -%>

    <%- include("./partials/scrollToTop") -%>

    <%- include("./partials/pageTitle") -%>

    <div class="goodAddress japonais">
        <h2 class="name">Sanukiya</h2>
        <p class="speciality"><i>Restaurant japonais</i></p>
        <span class="address">
            <a
                href="https://www.google.com/maps/place/Sanukiya/@48.8644734,2.3338605,19.67z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNDjCsDUxJzUzLjEiTiAywrAyMCcwMi41IkU!3b1!8m2!3d48.8647556!4d2.3340333!3m4!1s0x0:0x788e359dee972d2!8m2!3d48.864718!4d2.333787">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
                9 Rue d'Argenteuil, 75001 Paris
            </a>
        </span>
        <span class="phoneNumber">
            <a href="tel:+33142605261">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
                01 42 60 52 61
            </a>
        </span>
        <div class="website">
            <a href="https://www.facebook.com/sanukiyaparis">
                <img class="facebook"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
            </a>
        </div>
        <ul class="picturesAndLegends">
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607175267/sanukiya_bshger.jpg">
                <i class="legend">Curry udon<br />Kamo udon</i>
            </li>
        </ul>
    </div>

</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>