<!DOCTYPE html>
<html>

<%- include("./partials/head") -%>

<body>

    <%- include("./partials/header") -%>

    <%- include("./partials/navBar") -%>

    <%- include("./partials/scrollToTop") -%>

    <%- include("./partials/pageTitle") -%>

    <div class="goodAddress peruvien">
        <h2 class="name">El Picaflor</h2>
        <p class="speciality"><i>Restaurant péruvien</i></p>
        <span class="address">
            <a
                href="https://www.google.com/maps/place/El+Picaflor/@48.843643,2.3512683,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671efcbe9059d:0x3537bd09ae98a7f5!8m2!3d48.843643!4d2.353457">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181567/position_kwzrtu.png">
                9 Rue Lacépède, 75005 Paris
            </a>
        </span>
        <span class="phoneNumber">
            <a href="tel:+33143310601">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1607181174/phone_k8domv.png">
                01 43 31 06 01
            </a>
        </span>
        <div class="website">
            <a href="https://www.picaflor.fr/">
                <img class="site"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607177444/website_dl6gcz.svg">
            </a>
            <a href="https://www.facebook.com/Picaflor75005">
                <img class="facebook"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183449/facebook_mbx8al.svg">
            </a>
            <a href="https://www.instagram.com/restaurantelpicaflor/">
                <img class="instagram"
                    src="https://res.cloudinary.com/dvpcjyb48/image/upload/c_scale,w_20/v1607183683/instagram_cilwrk.svg">
            </a>
        </div>
        <ul class="picturesAndLegends">
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/elpicaflor1_osdk3k.jpg" />
                <i class="legend">Aji de gallina, Seco de cordero, Ceviche de pato<br />Ceviche
                    clasico, Ceviche nikkei, Tiradito clasico</i>
            </li>
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/elpicaflor2_pqlmpq.jpg" />
                <i class="legend">Anticuchos</i>
            </li>
            <li class="picture">
                <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/elpicaflor3_r69mys.jpg" />
                <i class="legend">Pulpo a la parrilla</i>
            </li>
        </ul>
    </div>

</body>

<script type="text/javascript" src="/js/global.js"></script>

</html>